[submodule "lib/seqan3"]
	path = lib/seqan3
	url = https://github.com/seqan/seqan3
[submodule "lib/robin-hood-hashing"]
	path = lib/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing.git
[submodule "lib/submodules/cereal"]
	path = lib/submodules/cereal
	url = https://github.com/USCiLab/cereal
[submodule "lib/submodules/sdsl-lite"]
	path = lib/submodules/sdsl-lite
	url = https://github.com/xxsds/sdsl-lite
[submodule "lib/chopper"]
	path = lib/chopper
	url = https://github.com/seqan/chopper.git
[submodule "lib/simde"]
	path = lib/simde
	url = https://github.com/simd-everywhere/simde
[submodule "lib/sharg-parser"]
	path = lib/sharg-parser
	url = https://github.com/seqan/sharg-parser
[submodule "lib/xxHash"]
	path = lib/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "lib/tool_description_lib"]
	path = lib/tool_description_lib
	url = https://github.com/deNBI-cibi/tool_description_lib.git
[submodule "include/raptor/contrib/std"]
	path = include/raptor/contrib/std
	url = https://github.com/seqan/seqan-std.git
[submodule "lib/Hierarchical_Interleaved_Bloomfilter"]
	path = lib/Hierarchical_Interleaved_Bloomfilter
	url = https://github.com/seqan/Hierarchical_Interleaved_Bloomfilter.git
