name: Workflows

on:
  push:
    branches:
      - 'main'
  pull_request:
    types:
      - unlabeled
  workflow_dispatch:

concurrency:
  group: workflows-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.event_name != 'push' }}

env:
  SHARG_NO_VERSION_CHECK: 1
  TZ: Europe/Berlin

defaults:
  run:
    shell: bash -Eeuxo pipefail {0}

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ubuntu-22.04
    timeout-minutes: 120
    if: github.repository_owner == 'seqan' || github.event_name == 'workflow_dispatch' || github.event.label.name == 'lint'
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Nextflow"
            compiler: "gcc-13"
            build_type: Release
            cxx_flags: "-std=c++23"

          - name: "CWL"
            compiler: "gcc-13"
            build_type: Release
            cxx_flags: "-std=c++23"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: raptor
          fetch-depth: 2
          submodules: true

      - name: Setup toolchain
        uses: seqan/actions/setup-toolchain@main
        with:
          compiler: ${{ matrix.compiler }}
          ccache_size: 150M

      - name: Install CMake
        uses: seqan/actions/setup-cmake@main
        with:
          cmake: 3.21.7

      - name: Install Nextflow
        if: matrix.name == 'Nextflow'
        uses: nf-core/setup-nextflow@v2
        with:
          version: latest-stable

      - name: Install cwltool
        if: matrix.name == 'CWL'
        run: |
          install pipx
          pipx install cwltool

      - name: Configure Raptor
        run: |
          mkdir build
          cd build
          cmake ../raptor -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
                          -DCMAKE_CXX_FLAGS="${{ matrix.cxx_flags }} -Wno-interference-size" \
                          -DHIBF_NATIVE_BUILD=OFF

      - name: Build Raptor
        run: |
          ccache -z
          cd build
          make -k -j2
          make install
          ccache -sv

      - name: Run Nextflow
        if: matrix.name == 'Nextflow'
        run: |
          cd raptor/workflow/nextflow
          nextflow hibf.nf

      - name: Run cwltool
        if: matrix.name == 'CWL'
        run: |
          raptor build --export-help cwl > raptor.cwl
          cwltool --validate raptor.cwl
          cwltool raptor.cwl raptor/workflow/cwl/tests/raptor-build-0_bins_window_19.yml
          cwltool raptor.cwl raptor/workflow/cwl/tests/raptor-build-16_bins_window_19.yml

